body {
    background: #62a0ff;
    text-align: center;
    color: rgb(255, 253, 254);
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 20px;
}

#Titulos {
    font-size: 25px;
    color: rgb(255, 176, 176);
}
#Titulos1 {
    font-size: 25px;
    color: rgb(255, 179, 166);
}

nav {
    border: aquamarine solid 5px;
    padding: 5px 30px;
    border-radius: 15px;
}

.Principal:hover {
    border: aquamarine solid 5px;
    margin: 10px;
}

.Botones:hover {
    font-weight: bold;
    color: white;
}
.VolverPrincipal{
    font-weight: bold;
    border: #ff7fa1 solid 5px;
    padding: 5px 30px;
    border-radius: 15px;
}

#Cabecera {
    column-count: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
#Imagen\ 1 {
    float: left;
    padding: unset;
}
#Imagen\ 2 {
    float: right;
    padding: unset;
}
.Sales1{
    column-count: 8;
    margin: 20px 20px;
    text-align: left;
    column-gap:20px;
}

.Salesresultado{
    column-count: 4;
    margin: 20px 20px;
    text-align: right;
    column-gap:20px;
}

.Hidruros1{
    column-count: 10;
    margin: 20px 20px;
    text-align: left;
    column-gap:40px;
}
.Hidruros2{
    column-count: 10;
    margin: 20px 20px;
    text-align: left;
    column-gap:40px;
}
.Oxidos1{
    column-count: 10;
    margin: 20px 20px;
    text-align: left;
    column-gap:40px;
}
.Oxidos2{
    column-count: 10;
    margin: 20px 20px;
    text-align: left;
    column-gap:40px;
}
.Canvas {
    width: 30px;
    height:110px;
    float: left;
}